.profile-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #d9f0e7;
  background-size: cover;
  background-repeat: repeat;
}

.profile-wrapper {
  font-size: 50%;
  margin-top: 90px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a2dac4;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 8px;
  width: 30%;
  height: 84.8%;
  float: left;
  clear: left;
}

.gavatar {
  align-items: center;
  display: flex;
  align-self: center;
  max-width: 250px;
  max-height: 120px;
}

.profile-card {
  font-size: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #d9f0e7;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  height: 94%;
  bottom: 2.5%;
}

.profile-picture {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.profile-information {
  margin-top: 20px;
  display: grid;
  padding-left: 27%;
  font-size: 15px;
}

.user-startDate {
  display: grid;
}

.user-details {
  display: grid;
  margin-top: 10px;
}

.user-email {
  display: grid;
  margin-top: 10px;
}

.profile-edit {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.btnProfileEdit {
  background-color: #a2dac4 !important;
  color: #fff;
  height: 55px;
  width: 60%;
  border-radius: 8px;
  border-width: 0px;
  font-size: 18px;
  margin-top: 20px;
}

.btnUpdatePassword {
  background-color: #769f76 !important;
  color: #fff;
  height: 55px;
  width: 60%;
  border-radius: 8px;
  border-width: 0px;
  font-size: 18px;
  margin-top: 10px;
}

.activities-wrapper {
  font-size: 15px;
  margin-top: 90px;
  margin-right: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #a2dac4;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 10px;
  height: 84.8%;
  width: 66%;
  clear: right;
  float: right;
}

.upcoming-activities-card {
  font-size: 15px;
  color: #213622;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9f0e7;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 8px;
  width: 98%;
  height: 30%;
  overflow: auto;
}

.bookmarked-activities-card {
  font-size: 15px;
  color: #213622;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9f0e7;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 8px;
  width: 98%;
  height: 30%;
  overflow: auto;
}

.gavatar {
  margin-top: 20px;
}

.my-activities-card {
  font-size: 15px;
  color: #213622;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9f0e7;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 8px;
  width: 98%;
  height: 30%;
  overflow: auto;
}

.upcoming-activities-title,
.bookmarked-activities-title,
.my-activities-title {
  font-size: 17px;
  margin-bottom: 10px;
}

.profile-edit {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.logout {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
}

.btnLogout {
  background-color: #eb4141 !important;
  color: #fff;
  height: 55px;
  width: 60%;
  border-radius: 8px;
  border-width: 0px;
  font-size: 18px;
  margin-top: 10px;
}

.editProfilePicture {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
}

.btneditProfilePicture {
  background-color: #a2dac4 !important;
  color: #fff;
  height: 55px;
  width: 60%;
  border-radius: 8px;
  border-width: 0px;
  font-size: 18px;
  margin-top: 20px;
}
